@using EntityLayer.Concrete;
@model List<Contact>

@foreach (var item in Model)
{


    <div class="col-lg-6 contact-left">
        <div class="partners">
            <div class="cont-details">
                <h5>İletişime Geçin</h5>
                <p class="mt-3 mb-4">
                    @item.Description
                </p>
            </div>
            <div class="hours">
                <h6 class="mt-4">Email:</h6>
                <p>
                    <a href="mailto:@item.Mail">
                        @item.Mail
                    </a>
                </p>
                <h6 class="mt-4">Adres:</h6>
                <p> @item.Address</p>
                <h6 class="mt-4">Telefon:</h6>
                <p class="margin-top"><a href="tel:@item.Phone">@item.Phone</a></p>
            </div>
        </div>
    </div>

}