
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>PDF Raporları Sayfası</h3>
<br />
<a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-outline-primary"><i class='bx bxs-report'></i>Statik PDF Raporu</a>
<br /><br />
<a href="/Admin/PdfReport/StaticCustomerReport" class="btn btn-outline-info"><i class='bx bxs-report'></i>Statik Misafir Raporu</a>
