
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>PDF Raporları Sayfası</h3>
<br />
<a href="/Admin/PdfReport/StaticPdfReport" class="btn btn-outline-primary">Statik PDF Raporu</a>
<br /><br />
<a href="/Admin/PdfReport/StaticCustomerReport" class="btn btn-outline-info">Statik Misafir Raporu</a>
