<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (User.Identity.IsAuthenticated)
{
    <div class="leave-comment-form mt-5" id="reply">
        <h4 class="side-title mb-2">Yorum Yap</h4>
        <p class="mb-4">
            Gerekli alanlar işaretlidir. *
        </p>
        <form asp-action="AddComment" asp-controller="Destination" method="post">

            <div class="form-group">
                <textarea name="Content" class="form-control" placeholder="Yorumunuz *" required=""
                spellcheck="false"></textarea>
            </div>
            <div class="form-group">


                <img src="~/userimages/@ViewBag.image" width="50" height="50" /> @ViewBag.name

            </div>
            <input type="hidden" name="DestinationID" value="@ViewBag.Id"/>


            <div class="submit text-right">
                <button class="btn btn-style btn-primary" onclick="showSweetAlertAndRedirect()">Paylaş </button>
            </div>
        </form>
    </div>
}
else
{
    <br />
    <h4 class="text-info">Yorum yapabilmek için giriş yapmanız gereklidir.  <a href="/Login/SignIn/" class="text-primary">Üye Girişi</a> </h4>
   
    <h5 class="text-info"> Eğer üye değilseniz üye olmak için <a href="/Login/SignUp/" class="text-primary">tıklayın.</a> </h5>
}
<script>
    function showSweetAlertAndRedirect() {
        Swal.fire({
            title: 'Yorumunuz kaydedildi ve onay bekliyor listesine alındı. Onaylandıktan sonra sitede görünecektir.',
            icon: 'info',
            showCancelButton: false,
            confirmButtonText: 'Tamam' 
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Destination/Index"; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>