@using Traversal.CQRS.Commands.DestinationCommands;
@model CreateDestinationCommand
@{
    ViewData["Title"] = "AddDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>CQRS Yeni Tur Ekleme Sayfası</h3>
<br />

<form method="post">
   
    <label>Şehir</label>
    <input type="text" class="form-control " asp-for="City" />
    <br />
    <label>Tur Süresi</label>
    <input type="text" class="form-control " asp-for="StayDuration" />
    <br />
    <label>Tur Kapasitesi</label>
    <input type="text" class="form-control " asp-for="Capacity" />
    <br />
    <label>Fiyat</label>
    <input type="text" class="form-control " asp-for="Price" />

    <br />
    <button class="btn btn-outline-dark"><i class='bx bxs-save'></i>Kaydet</button>
</form>



