@using EntityLayer.Concrete;
@model Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Yeni Rezervasyon Paneli</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/Member/Dashboard/Index">Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Yeni Rezervasyon Paneli
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<h3></h3>
<br />
<div class="card pull-up ecom-card-1 bg-white container">

<form method="post">
    <label>Lokasyon</label>
    @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.destination, new {@class="form-control"})
        <br />
        <label>Kişi Sayısı</label>
        <input type="text" asp-for="PeopleCount" class="form-control" />
        <br />
    <label>Tarih</label>
    <input type="date" asp-for="ReservationDate" class="form-control" />
    <br />
    <label> Açıklama Yazın</label>
    <textarea type="text" asp-for="Description" class="form-control" ></textarea>
    <br />
    <button class="btn btn-primary" id="btnres">Rezervasyon Yap</button>

</form>


</div>

   <div id="uyari" title="Rezervasyon Uyarısı" style="display:none;">
        
    <p>Yeni Rezervasyonlar alındıktan sonra Onay sürecine girer, ve Onay Bekliyor listesine alınırsınız. Rezervasyon detaylarınızı "Güncel Rezervasyonlarım" kısmından işlemlerinizi görüntüleyebilirsiniz. </p>

    <img src="https://www.fonetsan.com.tr/en/images/image/otel_reservation.jpg" width="100%">
        </div>
                 
        <!-- Script -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
       
        <script>
            $(function(){
                // sayfa açılışında dialog kutusunun gelmesi için her hangi bir buton için yerleştirmedik
                $("#uyari").dialog({
                    width:600, //dialog kutusunun genişliği
                    modal:true, //arkaplanın koyu olması
                    autoOpen:true, //gerek yok ama otomatik açılması için
                    position:  { my: "center top", at: "center top" } //konum
                });
            })
            
        </script>

<script>
    function showSweetAlert() {
        Swal.fire({
            title: 'Rezervasyonunuz başarılı bir şekilde kaydedildi ve Onay Bekliyor listesine eklendi.',
            icon: 'info',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Member/Reservation/MyApprovalReservation"; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>

