
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
        <div class="container py-2">
            <h2 class="title">Hakkımızda</h2>
            <ul class="breadcrumbs-custom-path mt-2">
                <li><a href="/Default/Index">Ana Sayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Hakkımızda </li>
            </ul>
        </div>
    </div>
</section>
<!-- //about breadcrumb -->
<!-- /about-6-->
<section class="w3l-cta4 py-5">
    <div class="container py-lg-5">
        <div class="ab-section text-center">
            <h6 class="sub-title">Hakkımızda</h6>
            <h3 class="hny-title">Yeni anılar edinmek için seyahate çıkın</h3>
            <p class="py-3 mb-3">
                Tecrübeli ve uzman kadromuzla seyahatlerinizi planlamanızda size yardımcı oluyoruz. Yeni yerler görmeden önce sitemizi inceleyin ve hemen rezervasyon işlemlerini başlatın. Kalanını biz sizin için hallederiz.
            </p>
            <a href="services.html" class="btn btn-style btn-primary">Devamını Oku</a>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <img src="~/Traversal-Liberty/assets/images/banner3.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<!-- //about-6-->
<!-- /content-6-->
<section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-6 content-6-left pr-lg-5">
                <h6 class="sub-title">Neden Biz?</h6>
                <h3 class="hny-title">Hayat konfor alanınızdan çıkınca başlar.</h3>
            </div>
            <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
                <p class="mb-3">
                    Daha bilge biri olmak ve özgür olmak için seyahate çıkmalısınız. Bunun için de en iyi adres biziz. Alanında uzman kadromuzla vize ve otel rezervasyonu dahil her şeyi biz sizin yerinize yapıyoruz.
                </p>
                <p class="mb-3">
                   Haydi siz de sitemize kaydolun ve turlarımızın keyfini çıkarın.
                </p>
                <a href="services.html" class="btn btn-style btn-primary mt-4">Devamını Oku</a>
            </div>
        </div>
    </div>
</section>
<!-- //content-6-->
<section class="w3l-grids1">
    <div class="hny-three-grids py-5">
        <div class="container py-lg-5">
            <div class="row">
                <div class="col-md-4 col-sm-6 mt-0 grids5-info">
                    <a href="#url"><img src="~/Traversal-Liberty/assets/images/g1.jpg" class="img-fluid" alt=""></a>
                    <h5>Kent Simgeleri</h5>
                    <h4><a href="#url">Egzotik Yerler</a></h4>
                    <p>Sizin de Eyfel Kulesi önünde bir pozunuz olsun isterseniz bize katılın.</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-sm-0 mt-5 grids5-info">
                    <a href="#url"><img src="~/Traversal-Liberty/assets/images/g2.jpg" class="img-fluid" alt=""></a>
                    <h5>Modern Şehirler</h5>
                    <h4>
                        <a href="#url">
                            Titizlikle çalışıyoruz
                        </a>
                    </h4>
                    <p>Modern şehirlerin mimarisine ve ilginç yapılara ilginiz varsa bize katılın.</p>
                </div>
                <div class="col-md-4 col-sm-6 mt-md-0 mt-5 grids5-info">
                    <a href="#url"><img src="~/Traversal-Liberty/assets/images/g3.jpg" class="img-fluid" alt=""></a>
                    <h5>Eşsiz Plajlar</h5>
                    <h4><a href="#url">Müşteri Memnuniyeti</a></h4>
                    <p>Siz de turkuaz renkteki denizde yüzmek ve eşsiz kumsallarda olmak istiyorsanız bize katılın.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- stats -->
<section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
        <div class="w3-stats-inner-info">
            <div class="row">
                <div class="col-lg-4 col-6 stats_info counter_grid text-left">
                    <span class="fa fa-smile-o"></span>
                    <p class="counter">1730</p>
                    <h4>Mutlu Müşteriler</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
                    <span class="fa fa-users"></span>
                    <p class="counter">730</p>
                    <h4>Düzenlenen Turlar</h4>
                </div>
                <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
                    <span class="fa fa-database"></span>
                    <p class="counter">30</p>
                    <h4>Rehberlerimiz</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->

