@model MailRequest
@{
    ViewData["Title"] = "SendMailToSubscriber";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<br />
<h3>Abone Bülteni Gönder</h3>
<br />
<form method="post">

    <label>Alıcı Ad Soyad</label>
    <input type="text" class="form-control" asp-for="ReceiverName" value="@ViewBag.name" />
    <br />
    <label>Alıcı Mail</label>
    <input type="email" class="form-control" asp-for="ReceiverMail" value="@ViewBag.mail" />
    <br />
    <label>Konu </label>
    <input type="text" class="form-control" asp-for="Subject" value="@ViewBag.subject" />
    <br />

    
    <textarea class="form-control" asp-for="Body" rows="10" placeholder="Mailinizi Bu Alana Yazın..."></textarea>
    <br />
    <button class="btn btn-outline-dark" onclick="showSweetAlertAndRedirect()"> <i class='bx bx-mail-send'></i> Gönder</button>




</form>



<script>
    function showSweetAlertAndRedirect() {
        Swal.fire({
            title: 'Abone Bülteni Maili başarılı bir şekilde gönderildi ',
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'Tamam'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/Subscribe/Index"; // Yönlendirilecek URL'yi buraya yazın
            }
        });
    }
</script>





