@using EntityLayer.Concrete;
@model Guide
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Yeni Rehber Oluşturma Sayfası</h3>
<br />

<form method="post">
    <label>Ad Soyad</label>
    <input type="text" class="form-control " asp-for="Name" />
    <br />
    <label>Görsel URL</label>
    <input type="text" class="form-control " asp-for="Image" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control " asp-for="Description" />
    <br />
    <label>Instagram</label>
    <input type="text" class="form-control " asp-for="Instagram" />
    <br />
    <label>Linkedin</label>
    <input type="text" class="form-control " asp-for="Linkedin" />
    
    <br />
    <button class="btn btn-dark">Kaydet</button>
</form>

