@using EntityLayer.Concrete;
@model Guide
@{
    ViewData["Title"] = "UpdateGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3> Rehber Düzenleme Sayfası</h3>
<br />

<form method="post">
    <input type="hidden" asp-for="GuideID" />
    <label>Ad Soyad</label>
    <input type="text" class="form-control " asp-for="Name" />
    <br />
    <label>Görsel URL</label>
    <input type="text" class="form-control " asp-for="Image" />
    <br />
    <label>Açıklama</label>
    <input type="text" class="form-control " asp-for="Description" />
    <br />
    <label>Instagram</label>
    <input type="text" class="form-control " asp-for="Instagram" />
    <br />
    <label>Linkedin</label>
    <input type="text" class="form-control " asp-for="Linkedin" />

    <br />
    <button class="btn btn-outline-dark"><i class='bx bxs-save'></i>Kaydet</button>
</form>
