<footer>
    <!-- footer -->
    <section class="w3l-footer">
        <div class="w3l-footer-16-main py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="row">
                            <div class="col-md-4 column">
                                <h3>Şirketimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="/Default/Index">Ana Sayfa</a></li>
                                    <li><a href="/About/Index">Hakkımızda</a></li>
                                    <li><a href="/Service/Index">Hizmetlerimiz</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="/Contact/Index">İletişim</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Yararlı Linkler</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#url">Turlarımız</a></li>
                                    <li><a href="#url">Turizm Bürosu</a></li>
                                    <li><a href="#url">Son Medya</a></li>
                                    <li><a href="about.html">Şirketimiz Hakkında</a></li>
                                    <li><a href="#url">Tur Paketlerimiz</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 column mt-md-0 mt-4">
                                <h3>Hizmetlerimiz</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="#url">Gizlilik Sözleşmesi</a></li>
                                    <li><a href="#url">Koşullarımız</a></li>
                                    <li><a href="services.html">Hizmetlerimiz</a></li>
                                    <li><a href="landing-single.html">Döviz Ofisleri</a></li>
                                    <li><a href="#url">Rehberlerimiz</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
               
               