
@{
    ViewData["Title"] = "GetCityID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>GetCityID</h1>

<form method="post">
    <label>Şehir Adı</label>
    <input type="text" name="p" class="form-control" />
    <br />
    <button class="btn btn-dark" >Ara</button>
</form>

