
@{
    Layout = null;
}

<!DOCTYPE html>


<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/sneat-1.0.0/assets/"
      data-template="vertical-menu-template-free">
@await Html.PartialAsync("~/Views/AdminLayout/HeaderPartial.cshtml")

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @await Html.PartialAsync("~/Views/AdminLayout/_SidebarPartial.cshtml")
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @await Component.InvokeAsync("_AdminNavbar")

                <!-- / Navbar -->
                <!-- Content wrapper -->

                <div class="container">
                    @RenderBody()
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
          
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    @await Html.PartialAsync("~/Views/AdminLayout/_ScriptsPartial.cshtml")
</body>
</html>
