
@{
    Layout = null;
}

<html>
<body>


@await Html.PartialAsync("~/Views/Default/_HeaderPartial.cshtml")

    @await Html.PartialAsync("~/Views/Default/_NavbarPartial.cshtml")
    <div>
        @RenderBody()
    </div>


    @await Html.PartialAsync("~/Views/Default/_FooterPartial.cshtml")
    @await Html.PartialAsync("~/Views/Default/Subscribe.cshtml")


    @await Html.PartialAsync("~/Views/Default/_ScriptsPartial.cshtml")
</body>
</html>

