@using Traversal.Areas.Admin.Models;
@model IEnumerable<ExchangeViewModel2.Exchange_Rates>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Booking API Kur Bilgileri</h3>
<br />
@{
    int count = 0;
}
<table class="table table-hover" >
   
    <tr>
        <th>#</th>
        <th>Kur Adı</th>
        <th>Kur Oranı</th>
    </tr>
  

   
    @foreach (var item in Model)
        {
            count++;
            <tr>
            <th>@count</th>
        <td>@item.currency</td>
        <td>@item.exchange_rate_buy</td>
        </tr>
    }
    
</table>


