@using EntityLayer.Concrete;
@model List<Destination>

<section class="w3l-main-slider" id="home">
    <div class="banner-content">
        <div id="demo-1"
             data-zs-src='["/Traversal-Starter/assets/images/banner1.jpg" , "/Traversal-Starter/assets/images/banner2.jpg" ,"/Traversal-Starter/assets/images/banner3.jpg", "/Traversal-Starter/assets/images/banner4.jpg"]'
             data-zs-overlay="dots">
            <div class="demo-inner-content">
                <div class="container">
                    <div class="banner-infhny">
                        <h3>Tatilinizi planlamak için uzaklara gitmenize gerek yok.</h3>
                        <h6 class="mb-3">Bir Sonraki Seyahatinizi Planlayın</h6>
                        <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
                            <form action="#" method="post" class="booking-form">
                                <div class="row book-form">
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <select name="selectpicker" class="selectpicker">
                                            <option value="">Turlarımız</option>
                                            @foreach (var item in Model)
                                            {
                                                
                                            
                                            <option value="@item.City">@item.City</option>
                                            }
                                            
                                        </select>

                                    </div>
                                    <div class="form-input col-md-4 mt-md-0 mt-3">

                                        <input type="date" name="" placeholder="Tarih" required="">
                                    </div>
                                    <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                                        <button class="btn btn-style btn-secondary">
                                            <span class="fa fa-search mr-3"
                                                  aria-hidden="true"></span> Ara
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>